#topChoice {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

#leftChoice {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.answer {
  font-size: 30px;
}

#question {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: beige;
  padding: 10px;
  color: black;
}

#choice {
  color: mediumblue;
}

#rightChoice {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

#bottomChoice {
  position: absolute;
  bottom: 0;
  left: 50% ;
}
