#topChoice {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 50%;
}

#leftChoice {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 0;
}

#question {
  font-size: 30px;
  position: absolute;
  top: 37%;
  left: 15%;
  background: lightblue;
  padding: 10px;
  color: black;
}

#choice {
  color: white;
}

#rightChoice {
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 0;
}

#bottomChoice {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50% ;
}
