.option {
  font-size: 2em;
}

.arrow {
  font-size: 4em;
}

#leftOption {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translate(0%, -30%);
  color: #92c134;
  font-weight: bold;
  font-size: 1.9rem;
}

#rightOption {
  position: absolute;
  bottom: 25%;
  right: 0;
  transform: translate(0%, -25%);
  color: #fc491e;
  font-weight: bold;
  font-size: 1.9rem;
}

#leftArrow {
  position: absolute;
  top: 45%;
  left: 100;
  transform: translate(0%, -50%);
}

#rightArrow {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(0%, -50%);
  /*transform: rotateX(90);*/
}
